body{
background-color: hsl(233, 47%, 7%) ;
}

.my{
    margin-top: 8rem !important;
}

.card{
    background-color: hsl(244, 38%, 16%);
}

.accent{
    color: hsl(277, 64%, 61%)
    ;
}

.content{
    padding-top: 4rem;  
}

.card-title{
    color: hsl(0, 0%, 100%);
    font-family: 'Lexend Deca', sans-serif; 
}

.main{
    color: hsla(0, 0%, 100%, 0.75);
    padding-top: 2rem;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.stats{
    padding-top: 2rem;
}

.stats-content{
    color:  hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.stats-heading{
    color: hsla(0, 0%, 100%, 0.6);
}
